/.metadata
/RemoteSystemsTempFiles
/vagrant
/samples/wsi.phar
/samples/.settings
/samples/.buildpath
/samples/.project
/common/.project
/common/.settings
/common/.buildpath
/library/.project
/library/.settings
/library/.buildpath
/system/.project
/system/.settings
/system/.buildpath
/wsi/.project
/wsi/.settings
/wsi/.buildpath
